[submodule "0x0A-argc_argv/0x0A-argc_argv/alx-low_level_programming"]
	path = 0x0A-argc_argv/0x0A-argc_argv/alx-low_level_programming
	url = https://github.com/Farahhammam22/alx-low_level_programming
